{% load static %}
<html>
    <body>
        <header>
            <h1 id="top_message">
                {% if countdown.is_zero %}
                WELCOME BACK
                {% else %}
                COME BACK SUNDAY
                {% endif %}
            </h1>
            {% if not countdown.is_zero %}
                <div id="countdown">
                    <h3 id="d">{{countdown.days}} day{% if countdown.days > 1 %}s{% endif %}</h3>
                    <h3 id="h">{{countdown.hours}} hour{% if countdown.hours > 1 %}s{% endif %}</h3>
                    <h3 id="m">{{countdown.minutes}} minute{% if countdown.minutes > 1 %}s{% endif %}</h3>
                </div>
            {% endif %}
        </header>
        <div class="panel_view">
            <div class="feed">
                <h1 class="feed_header">Sunday</h1>
                <div class="posts">
                    {% for post in posts %}
                        <div class="post">
                            <div class="post_header">
                                <h3 class="username"><a href="{% url 'posts:profile' username=post.author.user.username%}">@{{post.author}}</a></h3>
                                <h3 class="timestamp">{{post.datetime.time}}</h3>
                            </div>
                            
                            <p>{{post.content}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="sidebar">
                <h1 class="sidebar_item">
                    <a href="{% url 'posts:create_post' %}">
                        Create Post
                    </a>
                </h1>
                <h1 class="sidebar_item">
                    <a href="{% url 'posts:profile' username=username %}">
                        Profile
                    </a>
                </h1>
                <h1 class="sidebar_item">
                    <a href="{% url 'posts:following' %}">
                        Following
                    </a>
                </h1>
                <h1 class="sidebar_item">
                    <a href="{% url 'registration:logout' %}">
                        Log Out
                    </a>
                </h1>
            </div>
        </div>
    </body>
</html>
<link rel="stylesheet" href="{% static 'posts/feed.css' %}">