{% load static %}
<html>
    <body>
        <div class="header">
            <h1 id="username">@{{username}}</h1>
            <p id="bio">{{bio}}</p>
        </div>
        <div id="posts_header"><h2>Posts</h2></div>
        <div class="posts">
            {% if posts|length == 0 %}
                <p id="no_posts">
                    No posts yet.
                </p>
            {% else %}
                {% for post in posts %}
                    <div class="post">
                        <div class="post_header">
                            <b class="username">@{{post.author}}</b>
                            <p class="timestamp">{{post.datetime.time}}</p>
                        </div>
                        <p class="post_content">{{post.content}}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="sidebar">
            <div class="sidebar_item">
                <a href="{% url 'posts:feed' %}">
                    Feed
                </a>
            </div>
            <div 
                class="sidebar_item {% if not countdown.is_zero %}disabled{% endif %}"
                id="posts"
            >
                <div id="countdown">
                    <div class="countdown-box">
                        <p id="days">d</p>
                        <p>d</p>
                    </div>
                    <div class="countdown-box">
                        <p id="hours">h</p>
                        <p>h</p>
                    </div>
                    <div class="countdown-box">
                        <p id="minutes">m</p>
                        <p>m</p>
                    </div>
                    <div class="countdown-box">
                        <p id="seconds">s</p>
                        <p>s</p>
                    </div>
                </div>
                {% if countdown.is_zero %}
                    <a href="{% url 'posts:create_post' %}">Post</a>
                {% else %}
                    <a>&nbsp;Post</a>
                {% endif %}
            </div>
            <div class="sidebar_item">
                {% if viewer_username == username %}
                    <a>• </a>
                {% endif %}
                <a href="{% url 'posts:profile' username=viewer_username %}">
                    Profile
                </a>
            </div>
            <div class="sidebar_item">
                <a href="{% url 'posts:following' %}">
                    Following
                </a>
            </div>
            <div class="sidebar_item">
                <a href="{% url 'registration:logout' %}">
                    Log Out
                </a>
            </div>
        </div>
    </body>
    <script>
        function setElementById(id, value) {
            const element = document.getElementById(id);
            element.innerHTML = value;
        }

        // Returns a Date object whose days, hours, minutes, etc. represent
        // the days, hours, minutes, etc. until it next turns Sunday in UTC+14.
        function calculateCountdown() {
            // (1) Create Date object mimicking current time in kiribati
            const kiribatiNow = new Date(Date.now());   // get the current date in UTC
            kiribatiNow.setUTCHours(kiribatiNow.getUTCHours() + 14); // add 14 hours to simulate UTC+14
            
            // (2) Create Date object mimicking the start of the day next sunday in kiribati
            // - Add num. days until sunday to get a datetime within the next sunday
            const kiribatiDaysUntilSunday = (7 - kiribatiNow.getUTCDay()) % 7;
            const kiribatiStartOfSunday = new Date(kiribatiNow);
            kiribatiStartOfSunday.setUTCDate(kiribatiStartOfSunday.getUTCDate() + kiribatiDaysUntilSunday);
            // - Set hours, minutes, sec, millisec to 0 to get to the start of the day
            kiribatiStartOfSunday.setUTCHours(0); 
            kiribatiStartOfSunday.setUTCMinutes(0);
            kiribatiStartOfSunday.setUTCSeconds(0);
            kiribatiStartOfSunday.setUTCMilliseconds(0);

            // (3) Countdown = start of sunday in kiribati - current time in kiribati
            const countdown = new Date(kiribatiStartOfSunday - kiribatiNow);
            // subtract 1 day because Date objects measure time from January 1st not January 0th.
            countdown.setUTCDate(countdown.getUTCDate() - 1);   
            return countdown;
        }

        function setCountdown(date) {
            setElementById('days', date.getUTCDate().toString());
            setElementById('hours', date.getUTCHours().toString());
            setElementById('minutes', date.getUTCMinutes().toString());
            setElementById('seconds', date.getUTCSeconds().toString());
        }

        // Refreshes the countdown component
        function refreshCountdown() {
            const countdown = calculateCountdown();
            setCountdown(countdown);
        }

        refreshCountdown();
        window.setInterval(refreshCountdown, 1000);

        // Scrolls page 2 into view
        function scrollToPageTwo() {
            const pageTwo = document.getElementById('page-two');
            pageTwo.scrollIntoView({behavior: "smooth"});
        }
    </script>
    <link rel="stylesheet" href="{% static 'posts/user_overview.css' %}">
</html>