body {
    font-family: sans-serif;
    background-color: white; /* #b2ffb7; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    color: black;
}