body {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    color: black;
}