body {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
}

input,
textarea {
    color: black;
    background-color: lightgray;
    outline: none;
    border-radius: 5px;
    box-shadow: none;
    border: 0;
}

input {
    border-radius: 25px;
    padding: 0.25em 0.5em;
}

textarea {
    resize: vertical;
    max-height: 40vh;
    padding: 0.25em
}

input:focus,
input:active,
textarea:focus,
textarea:active {
    color: lightgray;
    background-color: black;
}

input:hover:not(:focus, :active),
textarea:hover:not(:focus, :active) {
    background-color: lightslategray;
}

div:has(label) {
    display: flex;
    flex-direction: row;
    gap: 0.25em;
}