body {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
    width: 100vw;
    gap: 0.25em;
    min-width: 700px;
    min-height: 350px;
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;
    border-bottom: solid black 0.1em;
    border-radius: 25px;

    #top_message {
        margin-bottom: 0;
    }

    #countdown {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        gap: 2em;

        #d,
        #h,
        #m {
            margin-top: 0;
        }
    }
}

.feed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;

    .feed_header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .posts {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        overflow: scroll;
        align-items: center;
        width: 100%;

        .post {
            color: black;
            display: flex;
            flex-direction: column;
            align-items: left;
            border: solid black 0.1em;
            border-radius: 5px;
            padding: 1em;
            width: 75%;

            .post_header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                h3 {
                    text-wrap-mode: nowrap;
                    margin-top: 0em;
                    margin-bottom: 0em;
                }
            }

            p {
                margin-top: 0em;
                margin-bottom: 0em;
            }
        }
    }
}

.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    height: 10%;
    border-top: solid black 0.1em;
    border-radius: 50px;

    .sidebar_item {

        a {
            color: black;
            text-decoration: none;
            text-decoration-line: none;
            text-align: right;
            text-wrap-mode: nowrap;
        }

        a:hover {
            /* color: white; */
            text-decoration-line: underline;
        }
    }
}

h3.username {
    a {
        color: black;
        text-decoration: none;
        text-decoration-line: none;
        text-align: right;
        text-wrap-mode: nowrap;
    }

    a:hover {
        text-decoration-line: underline;
    }
}

#no_posts {
    #follow_others {
        color: black;
    }
}