body {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
    width: 100vw;
    gap: 0.25em;
    min-height: 350px;
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    max-width: 700px;
}

.feed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .feed_header {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        width: 55%;

        * {
            font-weight: 100;
            margin-top: 0.35em;
            margin-bottom: 0.35em;
        }
    }

    .posts {
        font-weight: 250;
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        align-items: center;
        width: 55%;
        border-color: #D9D9D9;
        border-width: 0.1em;
        border-top-style: solid;
        border-left-style: solid;
        border-right-style: solid;
        z-index: 20;

        #no_posts {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            #follow_others {
                color: black;
                z-index: 10;
            }
        }



        .post {
            box-sizing: border-box;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: left;
            border-color: #D9D9D9;
            border-bottom-style: solid;
            border-width: 0.1em;
            padding: 1em;
            width: 100%;

            .post_header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                p {
                    text-wrap-mode: nowrap;
                    margin-top: 0em;
                    margin-bottom: 0em;
                }

                .username {

                    a {
                        color: black;
                        text-decoration: none;
                        text-decoration-line: none;
                        text-align: right;
                        text-wrap-mode: nowrap;
                    }

                    a:hover {
                        text-decoration-line: underline;
                    }
                }
            }

            .post_content {
                margin-top: 0.25em;
                margin-bottom: 0em;
                overflow-wrap: anywhere;
            }
        }
    }
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    .sidebar_item {
        margin-right: 1.5em;
        padding-top: 0.5em;
        padding-bottom: 0.25em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 0.5em;

        * {
            margin-top: 0em;
            margin-bottom: 0em;
        }

        #active_tab_indicator {
            font-weight: 250;
        }

        a {
            font-weight: 100;
            color: black;
            text-decoration: none;
            text-decoration-line: none;
            text-align: right;
            text-wrap-mode: nowrap;
        }
    }

    .sidebar_item:not(.disabled)>a:hover {
        text-decoration-line: underline;
    }

    .sidebar_item.disabled>a {
        text-decoration-line: line-through;
    }

    #posts {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;

        #countdown {
            display: flex;
            flex-direction: row;
            border-radius: 25px;
            background-color: #D9D9D9;
            font-size: smaller;
            padding-left: 0.5em;
            padding-right: 0.5em;
            gap: 0.4em;
            font-family: monospace;

            .countdown-box {
                display: flex;
                flex-direction: row;
                height: fit-content;

                p {
                    margin-top: 0.25em;
                    margin-bottom: 0.25em;
                }
            }
        }
    }
}

#logo {
    position: absolute;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5em;
    align-content: left;

    a {
        color: black;
        font-weight: 100;
        text-decoration-line: none;
    }
}