body {
    font-family: sans-serif;
    background-color: white; /* #b2ffb7; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
    min-width: 700px;
    min-height: 350px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    #top_message {
        margin-bottom: 0;
    }

    #countdown {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        gap: 2em;

        #d, #h, #m {
            margin-top: 0;
        }
    }
}

.panel_view {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
}

.feed {
    flex-grow: 4;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    max-height: 80vh;
    overflow: scroll;
}

.post {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: left;
    border: solid black;
    padding: 1em;
    width: 75%;

    .post_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        h3 {
            text-wrap-mode: nowrap;
            margin-top: 0em;
            margin-bottom: 0em;
        }
    }

    p {
        margin-top: 0em;
        margin-bottom: 0em;
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
}

h1.sidebar_item {

    a {
        color: black;
        text-decoration: none;
        text-decoration-line: none;
        text-align: right;
        text-wrap-mode: nowrap;
    }

    a:hover {
        /* color: white; */
        text-decoration-line: underline;
    }
}

h3.username {
    a {
        color: black;
        text-decoration: none;
        text-decoration-line: none;
        text-align: right;
        text-wrap-mode: nowrap;
    }

    a:hover {
        text-decoration-line: underline;
    }
}